<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link href="/assets/style.css" media="screen" rel="stylesheet" type="text/css">
  </head>
	<body>

		<%= yield %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
		<script src="/assets/app.js"></script>
	</body>
</html>